/* src/styles/themes.scss */
:root {
  --color-bg: hsl(0 0% 100%);
  --color-text: hsl(0 0% 10%);
  --color-border: hsl(0 0% 80%);
  --color-primary: hsl(210 90% 55%);
}

:root[data-theme='dark'] {
  --color-bg: hsl(0 0% 10%);
  --color-text: hsl(0 0% 95%);
  --color-border: hsl(0 0% 40%);
  --color-primary: hsl(210 90% 60%);
}
