/* src/styles/variables.scss */
$color-bg-light: hsl(0 0% 100%);
$color-bg-dark: hsl(0 0% 10%);
$color-text-light: hsl(0 0% 10%);
$color-text-dark: hsl(0 0% 95%);
$color-border: hsl(0 0% 80%);
$color-primary: hsl(210 90% 55%);
